.jumbotron {
  background-color: #0a192f;
}


body {
  background-color: #0a192f;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.container, h1 {
  color: #64ffda;
  border: none;
}

footer {
  text-align: center;
  padding: 20px;
  color: #64ffda
}

.btn-dark {
  background-color: #64ffda;
  border-color: #64ffda;
}

.btn-dark:hover {
  color: #fff;
  background-color: #1a417b;
  border-color: #1a417b;
}

.card {
  background-color: #454649;
  border-color: #454649;
}